@charset "utf-8";
@font-face { font-family : nanum;    
   src: url(../font/NanumGothic.eot) format('embedded-opentype'),
       url(../font/NanumGothic.woff) format('woff'),
       url(../font/NanumGothic.ttf) format('truetype');   
   }

* {margin:0; padding:0;}
body{font-family:nanum; font-size:16px; color:#6f6f6f}
ul, ol, li{list-style-type:none}
img, fieldset{border:none}
hr {clear:both;border:none} 
    /*   */
a {color:inherit;text-decoration:none}
table{border-collapse:collapse}

