@charset "utf-8";
/* CSS Document */

.border_r {border-right:1px dotted #999}
.btn_gray {display:block;color:#fff;background-color:#333;
           font-weight:bold;padding:5px 10px;
		   float:left;margin-top:20px;}
h4 {margin-bottom:10px;}


.inner{width:940px;margin:0 auto;}
#wrap{width:100%;min-width:940px;overflow:hidden}
#header{padding:30px;}
#section1{
}
#section2{}
#footer{background-image:url(../images/bg_footer.gif);
        padding:20px 0;
		color:#FFF;
		font-size:0.8em}


/*========header===============*/
.left_top {float:left;}
  .left_top a{/*float:left;*********** 인라인태그 사이에    */        margin:0 10px;}
.right_top {float:right}
  .right_top a{margin:0 5px;}
.logo {clear:both;text-align:center;
       padding:10px 0;}
#mnav{clear:both;}
 #mnav ul {text-align:center;padding:10px;}
 #mnav li{display:inline;padding:20px;
          font-size:1.2em;font-weight:bold;}

/*==========section1======================= */
 .box1 {background:rgba(0,0,0,0.7); /*opacity:80%*/
        padding:20px;
		line-height:2em;
		width:200px;
		position:relative;
		top:340px;
       }
	.box1 a {color:#999;}
	.box1 a:hover {color:#fff;}

/*==========section2======================= */
.div1{height:230px;padding:20px 0;}
 .div1 .d_left{width:25%;
        float:left;height:100%;}
 .div1 .d_center{background-color:#fff;width:50%;
        float:left;height:100%;}
	/*	
  .div1 .d_center .slide1{
	  margin:0 auto; width:80%;
	  position:relative;
	  margin-top:40px;
	  }			  
		
  .div1 .d_center .slide1 .slide_cont{
              width:350px;
			  margin:auto;
			  overflow:hidden;
			  }
  .div1 .d_center .slide1 .arrow_left{
	  position:absolute; top:20px;left:0px
	  }
   .div1 .d_center .slide1 .arrow_right{
	  position:absolute; top:20px;right:0
	  }

   .div1 .d_center .slide1 .slide_cont li{
	  float:left;
	  width:33%;
	  text-align:center
	  }	
   */



.div2{ height:210px;overflow:hidden}
 .div2 .d_left{background-color:#CCC;width:25%;
        float:left;height:100%;}
 .div2 .d_center{background-color:#0CF;width:50%;
        float:left;height:100%;overflow:hidden}
 .div2 .d_center img {width:100%;}

.div3 {font-size:0.8em; padding-top:20px;padding-bottom:20px;
       }
 .div3 article{
               float:left;
               width:calc(25% - 20px);padding:0 10px;}
  .div3 .notice li{line-height:1.7em}
     .div3 .notice li span{ float:right}
  
  .div3 .art4 li{width:33.3%;float:left; 
            text-align:center}
  .div3 .art4 li a{display:block;border-right:1px dotted #aaa;padding-top:5px;padding-bottom:5px;
     margin-bottom:10px;margin-top:10px}
.div3 .art4 li:last-child a{border-right:none}     
/*==========footer========================= */
.foot1 a {padding:0 10px; border-left:1px solid #fff}
   .foot1 a:first-child {border-left:none;padding-left:0}
        /*last-child, nth-child(번호)  */




/***************미니슬라이드 css******************/

#banner_wrap{position:relative;width:80%;margin:0 auto;}
#slide_banner {text-align: center}
#slide_banner img{width:90%}
#prevBtn{position:absolute;left:-30px;top:40px;}
#nextBtn{position:absolute;right:-20px;top:40px;}












