#header{font-family: NotoSansCJKkr-Regular;}
.main_text{font-family: NotoSansCJKkr-Regular;}
.main_text h3{font-family: NotoSansCJKkr-Medium;}
.box1{font-family: NotoSansMonoCJKkr-Regular;}
.title{font-family: NotoSansMonoCJKkr-Bold}
.box2{font-family: NotoSansMonoCJKkr-Bold}
.box3{font-family: NotoSansCJKkr-Medium;}
.box4{font-family: NotoSansMonoCJKkr-Bold;}



@font-face {font-family: 'NotoSansCJKkr-Regular';
src: url("/font/NotoSansCJKkr-Regular.otf") format('opentype');}

@font-face {font-family: 'NotoSansCJKkr-Medium';
src: url("/font/NotoSansCJKkr-Medium.otf") format('opentype');}

@font-face {font-family: 'NotoSansMonoCJKkr-Bold';
src: url("/font/NotoSansMonoCJKkr-Bold.otf") format('opentype');}

@font-face {font-family: 'NotoSansCJKkr-Bold';
src: url("font/NotoSansCJKkr-Bold.otf") format('opentype');}



*{padding: 0; margin: 0}
body{overflow-x: hidden}
ul{list-style: none}
a{text-decoration: none}
.space{clear: both}
.inner{width: 1280px; margin: 0 auto}

#header{height: 133px}
.top_header{height: 40px; border-bottom: 1px solid #e1e1e1}
.top_header .site{float:left}
.top_header .site li{float: left}
.top_header .util{float: right}
.top_header .util li{float: left}

.bottom_header .menu{float: left}
.bottom_header .menu li{float: left}
.bottom_header .side{float: left}
.bottom_header .side li{float: left}
.search{float: left}
.m_menu{float: left}

.site li{width: 90px; height: 39px; text-align: center; line-height: 40px; border: 1px solid #e1e1e1; background-color: #f0f0f0; color: #6f6f6f; font-size: 12px; font-weight: bold}
.site li:nth-child(1){height: 39px; background-color: #000; color: #fff}

.top_header .inner{position: relative}
.util{position: absolute; right: 0}
.util li{width: 130px; height: 40px; text-align: right; line-height: 40px; font-size: 12px; font-weight: bold;}

.bottom_header .inner{position: relative}
.bottom_header .menu{position: absolute; z-index: 2;}
.bottom_header .side{position: absolute; z-index: 2;}

.bottom_header{width: 1920px; margin: 0 auto; height: 93px; line-height: 93px; font-weight: bold; font-size: 19.17px;}

.menu{width: 570px; float: right}
.menu a{color: #000}
.menu>li{width: 190px; height: 93px; float: left; text-align: center; position: relative}
.menu>li:hover{background-color: #b42127}
.menu>li:hover .submenu{opacity: 1;}
.menu a:hover{color: #fff; font-weight: bold}

.submenu{position: absolute; top: 93px; background-color: rgba(61,61,61,1); transition: all 0.5s;opacity: 0; }
.submenu>li{width: 190px; font-size: 16px; height: 60px; line-height: 60px; }
.submenu>li>a{color: #b5b5b5; font-weight: lighter}

.side{width: 570px; float: right}
.side a{color: #000}
.side>li{width: 190px; height: 93px; float: left; text-align: center; position: relative}
.side>li:hover{background-color: #b42127}
.side>li:hover .submenu{opacity: 1;}
.side a:hover{color: #fff}




.logo{position: absolute; left: 47%; right: 47%; margin: 0 auto; padding-top: 10px; padding-left: 5px}
.side{position: absolute; right: 0}
.m_menu{padding-left: 85px}



/**********메인 이미지************/


.imoticon{position: relative}
.imo_1{position: absolute; left: 10%}
.imo_2{position: absolute; left: 40%; right: 40%; margin: 0 auto}
.imo_3{position: absolute; left: 70%}

.imo_1 img:hover{transform: rotateY(180deg); transition: all 0.8s}
.imo_2 img:hover{transform: rotate(180deg); transition: all 0.8s}
.imo_3 img:hover{transform: rotateY(180deg); transition: all 0.8s}


.main_text{width: 678px; height: 456px; border: 1px transparent #000;color: #fff; text-align: center; position: absolute; right: 238px; top: 123px; background: rgba(0,0,0,0.5);}
.main_text h2{font-size: 50.5px; padding-top: 70px;}
.main_text h1{font-size: 70.13px}
.main_text h3{font-size: 23.9px; padding-top: 10px}
.imoticon>div{float: left; padding-top: 25px; text-align: center}




/***************컨텐츠***************/
#contents{margin: 0 auto; text-align: center}

.box1{ height: 1200px; text-align: center; margin: 0 auto}
.list{text-align: center; margin: 0 auto}
.slide{float: left; padding-right: 50px; padding-left: 60px}
.title h2{font-size: 29.59px; padding-top: 16px; background-color: #fff; position: absolute; left: 35%; right: 35%; margin: 0 auto}
.title{width: 100%; height: 80px; position: relative; text-align: center; padding-top: 110px; padding-bottom: 110px}
.title:before{content: ""; display: block; position: absolute; width: 100%; height: 1px; background-color: #333333; top: 48%}


.slider{padding-bottom: 93px}
.headline{border: 1px solid #d0d7d9; width: 23%; height: 130px; background-color: #8c0303; color: #fff; text-align: center; float:left;}
.headline>p>span:nth-child(1){font-size: 27.69px;}
.headline p{font-size: 16.74px; padding-top: 35px}
.data_text{border: 1px solid #d0d7d9; width: 65%; height: 130px; background-color: #8c0303; color: #fff; text-align: center; float: left; font-size: 19.18px;}
.data_text p{text-align: left; padding-top: 40px; padding-left: 10px}
.data_btn{width: 10%; height: 130px; float: left; border: 1px solid #d0d7d9; background-color: #ff7e31; color: #fff; text-align: center; line-height: 130px; font-size: 18.67px}


.box2{background-image: url(../img/fun_back.png); position: relative; height: 341px}
.box2 img{position: absolute; right: 313px; bottom: 0}
.box2 h3{color: #fff; font-size: 48.48px; line-height: 341px; float: left}
.box2 h3 span{font-size: 60px}

.box2 img:hover{transform: rotateY(180deg); transition: all 1s}


.box3{height: 849px; background-color: #8c0303; color: #fff; position: relative;}
.box3_slider{width: 1333px; position: absolute; left: 10%; right: 10%; margin: 0 auto}
.btn_prev{float: left; padding-top: 241px}
.box3_icon{float: left; text-align: center; padding-left: 55px; padding-right: 55px}
.box3_list{position: absolute; left: 5%; right: 5%; margin: 0 auto; padding-top: 50px; padding-left: 55px}
.btn_next{float: right; padding-top: 241px}
.box3 h2{font-size:  37.36px; padding-top: 119px; text-align: center}
.box3_icon img{padding-bottom: 41px}
.box3_icon h4{padding-bottom: 30px; font-size: 26.98px}

.drink{transform: scale(1); transition: all 0.7s}
.drink{width: 249px; height: 370px; overflow: hidden}
.drink:hover{transform: scale(1.1)}







.box4{height: 569px; position: relative}
.box4 h2{padding-top: 111px; padding-bottom: 59px; font-size: 29.59px}
.box4 .silver{position: absolute; left: 22%}
.box4 .membership_btn1{position: absolute; left: 39%; top: 50%}
.box4 .gold{position: absolute; left: 44%}
.box4 .membership_btn2{position: absolute; left: 61%; top: 50%}
.box4 .red{position: absolute; left: 66%}
.silver h4{padding-top: 35px; padding-bottom: 9px; font-size: 24.4px; color: #a9a9a9}
.silver p{font-size: 19.21px; font-weight: bold}
.box4 .red{position: absolute; left: 66%}
.gold h4{padding-top: 35px; padding-bottom: 9px; font-size: 24.4px; color: #c5a56c}
.gold p{font-size: 19.21px; font-weight: bold}
.box4 .red{position: absolute; left: 66%}
.red h4{padding-top: 35px; padding-bottom: 9px; font-size: 24.4px; color: #b9010b}
.red p{font-size: 19.21px; font-weight: bold}


.silver img:hover{transform: rotateY(180deg); transition: all 1s}
.gold img:hover{transform: rotateY(180deg); transition: all 1s}
.red img:hover{transform: rotateY(180deg); transition: all 1s}



.box5{height: 360px; background-image: url(../img/box5_back_02.jpg); background-repeat: no-repeat; position: relative; background-size: cover;}
.box5 .text_box{width: 360px; height: 34px; border: 1px solid #fbce2b; background-color: #fbce2b; line-height: 34px; font-size: 21.8px; color: #596a2f; position: absolute; top: 80px; left: 16%}
.event_1{text-align: left; position: absolute;  top: 128px; left: 16%}
.event_1 h3{font-size: 35.85px}
.event_1 h2{font-size: 47.81px; color: #596a2f}
.event_2>p{font-size: 17.92px; float: left; font-weight: bold; color: #878788; padding-right: 22px}
.event_2>p span{color: #000}
.event_2{position: absolute; top: 290px; left: 16%;}



#footer{width: 100%; height: 295px; background-color: #8c0303; color: #fff; font-weight: bold}

.top_footer{height: 73px;line-height: 73px;border-bottom: 1px solid #b35959; font-size: 12.44px; color: #fff}
.top_footer>.inner>ul:after{content: "";display: inline-block; clear: both}
.top_footer>.inner>ul>li{float: left; padding-right: 75px}

.bottom_footer{ color: #fff; margin-top: 42px;font-size: 10.74px}
.bottom_footer>.inner:after{content: "";display: inline-block; clear: both}
.bottom_footer>.inner>.f_logo{padding-right: 110px; padding-left: 30px}
.bottom_footer>.inner>.f_logo, .copyright{float: left}
.bottom_footer>.inner>.copyright>ul>li{position: relative;padding-left: 115px; padding-bottom: 10px}
.bottom_footer>.inner>.copyright>ul>li>span{position: absolute;left: 0}
.bottom_footer>.inner>.copyright>p{margin-top: 20px; color: #fff; font-size: 11.92px}
.bottom_footer>.inner>.info{float: right; color: #fff; font-size: 11.92px; padding-right: 300px}
.bottom_footer>.inner>.info>p:after{content: "";display: inline-block; clear: both}
.bottom_footer>.inner>.info>p{float: left}
.info p span{padding-left: 30px; font-size: 21.24px; font-weight: normal}























